* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.stopwatch {
    display: flex;
    place-items: center;
}

.time {
    border: 1px white solid;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    padding: 20px;
    margin-top: 100px;
    background-color: black;
    width: 350px;
    border-radius: 20px;
    height: 220px;

}

.head {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.Time {
    color: red;
    font-size: 40px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start {

    color: white;
    font-size: 20px;
    background-color: rgb(9, 189, 9);
    width: 90px;
    height: 40px;
    padding: 10px;
    border: none;
}

.reset {

    font-size: 20px;
    color: white;
    background-color: black;
    border: 1px white solid;
    width: 90px;
    height: 40px;
    padding: 10px;
}

.stop {

    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    width: 90px;
    height: 40px;
    padding: 10px;
}